//Colors
$tancrayola: hsl(24, 66%, 64%);
$orange: hsl(34, 95%, 49%);
$darkorange: hsl(23, 97%, 46%);
$verydarkorange: hsl(12, 100%, 34%);

$trypanblue: hsl(262, 85%, 33%);
$navyblue: hsl(252, 88%, 23%);

$violet: hsl(270, 91%, 54%);
$darkpurple: hsl(278, 52%, 9%);

$femhtml: hsl(189, 50%, 61%);
$femcss: hsl(227, 45%, 44%);
$femjs: hsl(333, 74%, 55%);
$femlevel1: hsl(189, 50%, 61%);
$femlevel2: hsl(78, 65%, 55%);
$femlevel3: hsl(45, 97%, 48%);

$github: hsl(0, 5%, 9%);

$black: hsl(220, 4%, 14%);
$grayishBlue: hsl(233, 8%, 62%);
$gray: hsl(0, 0%, 81%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Size
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

//Header Font Size
$font-title: 4rem;
$font-subtitle: 2.25rem;
$font-paragraph: 1rem;
