//Color
$darkaqua: hsl(158, 36%, 37%);
$aqua: hsl(158, 65%, 40%);
$crema: hsl(30, 38%, 92%);

$black: hsl(220, 4%, 14%);
$verydarkblue: hsl(212, 21%, 14%);
$darkgrayishblue: hsl(228, 12%, 48%);
$gray: hsl(0, 0%, 81%);
$white: hsl(0, 0%, 100%);

// Font Size
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 1.68rem;
$font-xxlg: 3.25rem;

// Font Family
$font: 'Fraunces';
